# env
.env

# backend
backend/__pycache__/
backend/**/__pycache__/
backend/.venv/
backend/venv/

# frontend
frontend/node_modules/
frontend/dist/

# editors / os
.vscode/
.DS_Store

PROGRESS.md
COMMANDS.md

# terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
